[Unit]
Description=Update CloudFlare DNS
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/linuxbrew/.linuxbrew/bin/python3 {{ROOT_DIR}}/update.py {{ROOT_DIR}}/domains.txt
EnvironmentFile={{ROOT_DIR}}/.env
